@font-face { 
  font-family: Steiner; 
  src: url('fonts/steiner.eot'); /* IE */ 
  src: local('Steiner'), 
  url('fonts/steiner.ttf'); /*non-IE*/
} 

* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background-color: #D5D5D5;
    color: #675F5C;
}
#makeMeScrollable div.scrollableArea *
{
  position: relative;
  display: block;
  float: left;
  padding: 0;
  margin: 0;
}

#header
{
  height: 87px;
}

#logo
{
  margin-top: 24px;
  height: 32px;
  float: left;
}

#logo img{
  margin-left: 24px;
}

#thumbs {
  position: relative;
  float: left;
  left: 480px;
  margin-top: 20px;
}

#thumbs .thumb {
  border: 1px solid #675F5C;
  float: left;
  margin-right: 8px;
  width: 56px;
  height: 56px;
}

#nav{
  margin-left: 24px;
}

#nav li{
  font-family: 'Steiner', sans-serif;
  float: left;
  list-style: none;
  margin-right: 8px;
  font-size: 16px;
}

#nav a {
  color: #675F5C;
  text-decoration: none;
}

#nav a:hover {
  
  text-decoration: underline;
}