<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="css/styles.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="css/slideshow.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="css/jquery-ui.custom.min.css" type="text/css" media="screen"/>
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" />
    <link href="feed/atom/" type="application/atom+xml" rel="alternate" title="ATOM Feed" />
  </head>
  <body>
    <div id="header">
      <div id="logo">
        Sven Ballenthin
      </div>
      <div id="main-nav">
        <ul class="nav">
          <li class="nav_item"><a href="index.html">Works</a></li>
          <li class="nav_item"><a href="about.html">About</a></li>
          <!-- li class="nav_item"><a href="news.html">News</a></li>
          <li class="nav_item"><a href="cv.html">CV</a></li>
          <li class="nav_item"><a href="#">Press</a></li-->
          <li class="nav_item">Contact:</li>
          <li class="nav_item"><a href="https://www.facebook.com/sven.ballenthin" class="icon fb_icon" target="_blank"></a><a href="http://twitter.com" class="icon twitter_icon" target="_blank"></a><a href="mailto:sven@ballenthin.me" class="icon mail_icon" target="_blank"></a></li>
        </ul>
      </div>
    </div>
    {{ content }}
    <div id="footer">
      <div class="content">
        Copyright: 2013
      </div>
    </div>
  </body>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js"></script>
  <script type="text/javascript" src="js/jquery.mousewheel.js"></script>
  <script type="text/javascript" src="js/slideshow.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" charset="utf-8">
     $(".contact_link, .close").click(function () {
           $(".extended_nav").slideToggle("normal");
           return false;
         }
    );
  </script>
</html>
