---
  layout: default
---
<div id="subnav">
  <h3>Work Phase</h3>
  <ul class="nav">
    <li><a id="phase1" href="index.html">001 (1995-2009)</a></li>
    <li><a id="phase2" href="phase2.html">002 (2009-2011)</a></li>
    <li><a id="phase2" href="phase2.html">003 (2011-20??)</a></li>
  </ul>
</div>

<div id="makeMeScrollable">
  <div class="scrollingHotSpotLeft scrollingHotSpot"></div>
  <div class="scrollingHotSpotRight scrollingHotSpot"></div>
  <div class="scrollWrapper">
    <div class="scrollableArea">
      {{ content }}
    </div>
  </div>
</div>
    